{% extends 'layout.py.jinja2' %}

{% block body %}
<div class="body">
    <div class="jumbotron bg-info text-white text-center bground" id="one">

        <h1>Climate API APP </h1>
        <p class="lead">Available APP's </p>
        <p></p>
        <ul id="link" style="list-style-type:none;">
            <li><a href="/api/v1.0/precipitation">Precipitation</a></li>
            <li>/api/v1.0/precipitation</li>
            <li><a href="/api/v1.0/stations">Stations</a></li>
            <li>/api/v1.0/stations</li>
            <li><a href="/api/v1.0/tobs">Temprature Observations</a></li>
            <li>/api/v1.0/tobs</li>
            <li><a href="/api/v1.0/temp/<start>">Start Dates</a></li>
            <li>/api/v1.0/<start>
            </li>
            <li>(start: A date string in the format YYYY-mm-dd)</li>
            <li><a href="/api/v1.0/temp/start/end">Start and End Dates</a></li>
            <li>/api/v1.0/2016-8-23/2017-8-23></li>
            <li>(start/end: A date string in the format YYYY-mm-dd)</li>
        </ul>
    </div>

</div>
{% endblock %}