{% extends 'layout.py.jinja2' %}

{% block body %}
<div class="bg-info text-white jumbotron text-center two " >
    <h1>Precipitation </h1>
   
     <form "http://localhost:5000/precipitation.py.jinja2" method = "POST">
     <label for="prcp">Precipitation:</label>
  <input type="radio" id="prcp" name="prcp" checked><br><br>
  <label for="start">Date:</label>

    <input style = "color: black;" type="date" id="start" name="date"
       value="2018-07-22"
       min="1900-01-01" max="2020-12-31">
    <input style = "color:black; "type = "submit" value="submit" />
     </form>
</div>
<div class = "fill" style = "background-color: red;">


</div>
{% endblock %}

